<header class="d-bc">
    <div class="logo">
        <img src="{{ asset('build/images/Popeye.png') }}" alt="" srcset="">
    </div>
    <div class="site-ttl">
        <img src="{{ asset('build/images/NomDuSite.png') }}" alt="" srcset="">
    </div>
    <div class="burger" data-target="main-screen-menu">
        <span></span>
    </div>
    <div id="main-screen-menu" class="screen-menu">
                <div class="header">
                    <div class="salutation">Bonjour Machin</div>
                </div>
                <ul class="menu-list">
                    <li class="list-item"><a href="#">Jouer</a></li>
                    <li class="list-item"><a href="#">Créer</a></li>
                    <li class="list-item"><a href="#">Lorem</a></li>
                    <li class="list-item"><a href="#">Lorem</a></li>
                    <li class="list-item"><a href="#">Paramètres</a></li>
                </ul>
    </div>
</header>