{% extends 'base.html.twig' %}

{% block title %}Let's go !!!{% endblock %}

{% block body %}
<main class="play d-bc">
    <section class="header d-bc">
        <div class="card-breadcrumb">
            <div class="domain"><div class="square"></div>Domaine</div>
            <div class="subdomain"><div class="square"></div>Sous-Domaine</div>
        </div>
        <div class="btn-green">
            Bravo !<i class="icon-thumbs-up inht"></i>
        </div>
        <div class="info-scroll">4 cartes apprises jusqu'à maintenant !</div>

    </section>
    <section class="main">
        <div class="playground-ctr stacked-cards">

            <div class="card-side front">
            </div>
            <div class="card-side back">
            </div>

        </div>
    </section>
    <section class="footer">
    </section>
</main>
    
{% endblock %}
