{% extends 'base.html.twig' %}

{% block title %}Let's go !!!{% endblock %}

{% block body %}
<main class="play d-bc">
    <!-- Header -->
    <section class="header d-bc">
    <div class="top-ctr d-bc">
        <div class="card-breadcrumb">
            <div class="domain"><div class="square"></div>{{ card.subCategory }}</div>
            <div class="subdomain"><div class="square"></div>{{ card.subCategory.category }}</div>
        </div>
        <div class="flash-ctr">
            <a class="btn-green flash">
                Bravo !<i class="icon-thumbs-up inht"></i>
            </a>
        </div>
    </div>
    <div class="info-scroll">4 cartes apprises jusqu'à maintenant !</div>

    </section>

    <!-- Main section -->
    <section class="main">

    <div class="playground-limits">
        {{ include('card/_card.html.twig', {card: card})}}
    </div>
        
    </section>
    <section class="footer">
    </section>


    <div class="debug" style="display: none;">
            <div class="btn-orange restore-button">Restore</div>
            <div class="btn-orange request-fulldeck-button">Get some cards</div>
            <div class="btn-orange request-update-button" data-stage="up">Stage Up</div>
            <div class="btn-orange request-update-button" data-stage="down">Stage Down</div>
    </div>

    <div id="test-modal" class="modal-content">
        <h1>Lorem ipsum dolor</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni fugiat natus laudantium rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, eveniet!</p>
    </div>
</main>

    
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('play') }}
{% endblock %}
