{% extends 'base.html.twig' %}

{% block title %}Let's go !!!{% endblock %}

{% block body %}
<main class="play d-bc">
    <section class="header d-bc">
        <div class="card-breadcrumb">
            <div class="domain"><div class="square"></div>Domaine</div>
            <div class="subdomain"><div class="square"></div>Sous-Domaine</div>
        </div>
        <div class="btn-green">
            Bravo !<i class="icon-thumbs-up inht"></i>
        </div>
        <div class="info-scroll">4 cartes apprises jusqu'à maintenant !</div>

    </section>
    <section class="main">
        <div class="playground-ctr stacked-cards">
            <nav class="card-menu active d-ee">
                <div class="stage-icons d-ce">
                    <i class="icon-star-fill"></i>
                    <i class="icon-star-fill"></i>
                    <i class="icon-star-empty"></i>
                </div>
                <div class="edit-icons d-cc"><i class="icon-closed-eye"></i></div>
                <div class="edit-icons d-cc"><i class="icon-feather"></i></div>
            </nav>

            <div class="card-side front">
                <div class="content d-cc">
                    <div class="main-ctnt">Lorem ipsum dolor sit amet.</div>
                    <div class="sub-ctnt">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>
                </div>
            </div>
            <div class="card-side back">
                <div class="content d-cc">
                    <div class="main-ctnt">Lorem ipsum dolor sit amet.</div>
                    <div class="sub-ctnt">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>
                </div>
            </div>

            <div class="note-ctr">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque non quasi unde veniam, dolores facere voluptatem error quis numquam sequi necessitatibus vitae eaque cumque maiores?
            </div>
        </div>
    </section>
    <section class="footer">
    </section>
</main>
    
{% endblock %}

{% block javascripts %}
            {{ encore_entry_script_tags('play') }}
{% endblock %}
