// Fast templating utilities
// * Flexbox alignment
// * Flexbox responsiveness
$justifyContent_values: ( s: 'start', e: 'end', c: 'center', b: 'space-between', a: 'space-around', );
$alignItems_values: ( c: 'center', s: 'flex-start', e: 'flex-end', b: 'baseline', );
@each $key,
$value in $justifyContent_values {
    @each $key2,
    $value2 in $alignItems_values {
        .f-#{$key}#{$key2} {
            display: flex;
            justify-content: #{$value};
            align-items: #{$value2};
        }
        ;
    }
    ;
}

;
// For all
@for $i from 1 to ($separation_number + 1) {
    .f#{$i} {
        flex-basis: (100/$i) + '%';
    }
}

;
// With breakpoints
@each $key,
$var in $breakpoints {
    @media screen and (min-width: $var + 'px') {
        @for $i from 1 to $separation_number {
            .f-#{$key}#{$i} {
                flex-basis: (100/$i) + '%';
            }
        }
    }
    ;
}