main {
    .flashcard {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 360px;
        // Set the size proportion
        &::before {
            content: '';
            display: block;
            padding-top: 56%;
        }
    }
    .card-side {
        // Position and size
        // TODO: avoir des valeurs communes
        // ? Are same with showcard
        // ? border-radius: 3px;
        // ? box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.8);
        // ? background-color: $white;
        // ? padding: $gutter*2;
        border-radius: 3px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.8);
        background-color: $white;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 95%;
        width: 95%;
        padding: $gutter*2;
        z-index: 5;
        transform-origin: 50% 50%;
        transition: 3ms ease-in;
        &.back {
            top: 0;
            left: 0;
            z-index: 3;
        }
        // Elements inside the card
        .content {
            flex-direction: column;
            width: 100%;
            height: 100%;
            user-select: none;
        }
        .main-ctnt {
            font-family: $sansForgetica;
            font-weight: lighter;
        }
        .sub-ctnt {
            color: $darkgrey;
            font-family: $montserrat;
            font-size: 0.8rem;
            line-height: 0.8rem;
            font-weight: 200;
        }
    }
    // Mini menu de la card
    nav.card-menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateY(-100%);
        font-size: 0;
        padding-bottom: $gutter;
        transition: 0.3s;
        .stage-icons,
        .edit-icons {
            margin-left: $gutter;
        }
        .stage-icons i {
            margin-bottom: 0;
        }
        .stage-icons i:nth-child(2n+1) {
            font-size: 0.7rem;
        }
        // Animations
        opacity: 0;
        &.active {
            opacity: 1;
        }
    }
}

// Notes
.note-ctr {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    padding-top: $gutter;
    color: $black;
    font-size: 0.8rem;
    transition: 0s;
    // Animations
    opacity: 0;
    &.active {
        opacity: 1;
        transition: 0.3s;
    }
}